8.txt filter=lfs diff=lfs merge=lfs -text
git filter=lfs diff=lfs merge=lfs -text
.txt filter=lfs diff=lfs merge=lfs -text
p.txt filter=lfs diff=lfs merge=lfs -text
sdf.txt filter=lfs diff=lfs merge=lfs -text
